body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
img {
  max-width: 100%;
}

nav {
  display: block;
  background-color:#2f485f;
}

nav ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align:right;
}

nav li {

  display:inline-block;
  color:white;
  text-align:right;
  text-transform: uppercase
  padding-bottom:10px;
  vertical-align: middle;
  padding: 12px 24px;
      text-transform: uppercase

}
nav li a:hover {
    color:#B26E00;
    text-transform: uppercase
}
nav li a:active {

    text-transform: uppercase
}
nav li a:focus {
    text-transform: uppercase;
    font-weight:bold;
}



nav li a { 
	text-decoration: none;
	color:white;

}
p{
  margin:0;
  padding: 20px;
}
table {
  text-align:center;
  margin:auto;
}

.table-link{
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  color: #fff;
  background-color: #1991FF;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
}

/*Applies max-width to header and main sections*/
.top-header{
  height:300px;
  max-width: 720px;
  margin: auto;
  background-color:#B26E00;
  position: relative;
  border-bottom: 1px;
  border-bottom-width:1px;
  border-bottom-color:purple;

}
header,
main {
    max-width: 720px;
  margin: auto;
}
body{
  background-color:grey;
}
section{
  background-color:white;
}
hr{
  width:90%;
}
h1{
  position: absolute;
  bottom:0;
  left:0;
  vertical-align: bottom;
  color:white;
  margin: 10px;
}
h2{
  margin-top:0px;
  padding-top:20px;
  padding-left: 20px;
}

.fixy{
  position: relative;
  width:100%;
}
.fixed-scroller{
  position:absolute;
  top:0px;
  left:730px;
  background-color:white;
  width:200px;
  border-bottom:3px;
  border-bottom-style: solid;

}
.fixed-scroller ul{
  font-weight:bold;
  list-style-type: none;
}

.fixed-scroller li{
  font-weight:normal;  
  font-weight:200;


}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-8xqh{font-weight:bold;background-color:#c0c0c0}



.code-snippet{
  height:75px;
  width:90%;
  margin:auto;
  background-color:grey;
}


.code{
  display:inline-block;
  width:212px;;
}







.gallery-container img {
  margin-right: 3px;
  margin-top: 3px;
}

/*960 width query*/
@media screen and (max-width: 960px){
  header,
  main {

    padding: 0 30px;
  }
}

/*480px width media query*/
@media screen and (max-width: 480px) {
  nav li {
    display: block;
    width: 100%%;

    margin: 5px auto;
  }

  .gallery img {
    display: block;
    margin: 5px auto;
  }
}